<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Marmiton : 67000 recettes de cuisine ! Recettes commentées et notées pour toutes les cuisines. Recette de cuisine. - Accueil - Marmiton.org
    </title>
    <style type="text/css">
      BODY { margin:0; padding:0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8pt;}
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="http://images.marmitoncdn.org/skins/1/common/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/legacy/css/main.css?v=201401141420">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/marmiton-v1-global.css?v=201601221126">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/m_common.css?v=201602171805">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/m_home2014.css?v=201506301835">
  </head>
  <body>
    <form name="aspnetForm" id="aspnetForm" class="m_globalsss">
      <div class="m_global">
        <div id="header" class="m_header_global">
          <div id="header_sticky" class="m_header">
            <div class="m_header_relative">
              <a class="m_logo" href="http://www.marmiton.org/" title="marmiton.org" target="_self"><img src="http://images.marmitoncdn.org/skins/1/common/images/logo-header.svg" class="m_logo_img" alt="marmiton.org"></a>
            </div>
          </div>
        </div>
        <div class="af_contentBack m_site">
          <div class="af_contentDivHome">
            <div class="m_bloc_recherche" id="haut_page">
              <div class="m_contenu_accroche">
                <div class="m_recherche">
                  <div class="m_titre_recherche">Quelque chose ... d'inattendu s'est produit</div>
                  <div class="m_recherche" style="color:white;"><a>Retourner à l'accueil</a></div>                  
                </div>
                <div class="m_nom_recette">
                  <div class="m_carre_titre"></div>
                  <div class="m_lien_nom_recette">
                    <a>Smoothie aux oranges</a>
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="m_image_accroche" style="background-image:url('http://images.marmitoncdn.org/recipephotos/multiphoto/58/5881486d-3cf8-470e-b450-ec443622e842_normal.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>