<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Cake au chocolat : Recette de Cake au chocolat - Marmiton
    </title>
    <style type="text/css">
      BODY { margin:0; padding:0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8pt;}
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/legacy/css/main.css?v=201401141420">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/marmiton-v1-global.css?v=201601221126">
    <link rel="shortcut icon" type="image/x-icon" href="http://images.marmitoncdn.org/skins/1/common/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/m_contentrecette.css?v=201511171110">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/marmiton-v1-rubriques.css?v=201401141215">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/marmiton-v1-rubriques-structure.css?v=201512111600">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/marmiton-v1-sondages.css?v=201401141240">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/nav-header.css?v=201312201750">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/m_common.css?v=201602171805">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/m_nav.css?v=201602171805">
    <link rel="stylesheet" type="text/css" href="http://images.marmitoncdn.org/skins/1/common/css/m_homerecette.css?v=201601221528">
  </head>
  <body>
    <div id="header" class="m_header_global">
      <div id="header_sticky" class="m_header">
        <div class="m_header_relative">
          <a class="m_logo" href="http://www.marmiton.org/" title="marmiton.org" target="_self"><img src="http://images.marmitoncdn.org/skins/1/common/images/logo-header.svg" class="m_logo_img" alt="marmiton.org"></a>
        </div>
      </div>
    </div>
    <div id="m_page">
      <div id="m_content">
        <div id="mrm_locationbar">
          &gt;&gt;&nbsp;<a href="/">Accueil</a> &gt;&nbsp;<a href="/recettes/">Recettes</a> &gt;&nbsp;<b>Cake au chocolat</b> 
        </div>
        <div class="m_bloc m_content_recette hrecipe">
          <div class="m_bloc_top">&nbsp;</div>
          <div class="m_bloc_cadre">
            <h1 class="m_title">
              <span class="item">
              <span class="fn">Cake au chocolat</span>
              </span>
            </h1>
            <div class="m_content_recette_breadcrumb">Dessert -
              Très facile
              -
              Bon marché - Végétarien
            </div>
            <div class="m_content_recette_bouton">
              <div style="clear: both;"></div>
              <table cellpadding="0" cellspacing="0" border="0" class="m_content_recette_header">
                <tbody>
                  <tr>
                    <td class="m_content_recette_note" align="left">
                      <div class="m_content_recette_breadcrumb">(567 votes)</div>
                      <span class="review hreview-aggregate">
                      <span class="rating">
                      <span class="average">
                      <span class="value-title" title="5"></span>
                      </span>
                      <span class="best">
                      <span class="value-title" title="5"></span>
                      </span>
                      <span class="worst">
                      <span class="value-title" title="1"></span>
                      </span>
                      <span class="count">
                      <span class="value-title" title="567"></span>
                      </span>
                      </span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="m_content_recette_cadre">
              <div class="m_content_recette_col">
                <div style="clear: both;"></div>
                <div class="m_pinit_btn_hover">
                  <aclass="m_content_recette_illu">
                  <img class="photo m_pinitimage" src="http://images.marmitoncdn.org/recipephotos/multiphoto/da/dae88f8f-5325-4f47-a394-3267688f0f7f_normal.jpg" alt="Recette Cake au chocolat" title="Cake au chocolat" width="225">
                  </a>
                </div>
              </div>
              <div class="m_content_recette_main">
                <p class="m_content_recette_info">
                  Temps de préparation : <span class="preptime">15 <span class="value-title" title="PT15M"></span></span> minutes<br>
                  Temps de cuisson : <span class="cooktime">30<span class="value-title" title="PT30M"></span></span> minutes
                </p>
                <div class="m_content_recette_ingredients m_avec_substitution" data-content="switch-conversion">
                  <span>Ingrédients (pour 6 personnes) :</span>
                  - 150 g de chocolat pâtissier<br>- 3 <a class="mrm_al">oeufs</a><br>- 100 g de <a class="mrm_al">sucre</a> en poudre<br>- 60 g de farine<br>- 1 cuillère à café de levure<br>- 80 g de <a class="mrm_al">beurre</a><br>- 50 g de poudre d'amandes<br>
                  <br>
                </div>
                <div class="m_content_recette_todo">
                  <h4>Préparation de la recette :</h4>
                  <br>
                  <br>Faire fondre le chocolat (en morceaux) au bain-marie avec 5 cuillères à soupe d’eau (ou le faire au micro-ondes). <br>Dans un saladier, battre les oeufs avec le sucre, jusqu’à ce que le mélange blanchisse. Ajouter la farine, la levure, le beurre fondu, la poudre d’amandes, et le chocolat. Mélanger. <br>Verser la préparation jusqu’à mi–hauteur d’un moule à cake beurré. <br>Mettre à cuire dans un four préchauffé à 180°C (thermostat 6 ) pendant 30 à 35 min. <br>Attendre 5 min avant de démouler. Laisser refroidir.<br>
                  <div class="m_content_recette_ps">
                    <h4>Boisson conseillée :</h4>
                    <p>un vin blanc, ou un mousseux, ou champagne.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>